<html lang="en">
<head>
    <meta charset="utf-8">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="githubassets-assets-frameworks.css">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="githubassets-assets-github.css">

    <meta name="viewport" content="width=device-width">
    <title>Home · ShiFengCui/dataStructure Wiki</title>
    <style>
        .gh-header-meta {
            padding-bottom: 16px;
            margin-top: 8px;
            font-size: 14px;
            color: #586069;
            border-bottom: 0px !important;
        }
    </style>
</head>


<body class="logged-in env-production page-responsive intent-mouse" mpa-version="7.7.0">

<div id="app" class="application-main " data-commit-hovercards-enabled="">
    <div itemscope="" itemtype="http://schema.org/SoftwareSourceCode" class="">
        <main>
            <div class="pagehead repohead hx_repohead readability-menu bg-gray-light pb-0 pt-0 pt-lg-5">

                <div class="d-flex container-lg mb-4 p-responsive d-none d-lg-flex">

                    <div class="flex-auto min-width-0 width-fit mr-3">
                        <h1 class="public  d-flex flex-wrap flex-items-center break-word float-none ">
                          <span class="flex-self-stretch" style="margin-top: -2px;">
                              <img class="avatar" alt="jonrohan"
                                   src="https://goss.veer.com/creative/vcg/veer/800water/veer-170361143.jpg" width="72"
                                   height="72"/>
                          </span>
                            <span class="author ml-2 flex-self-stretch" itemprop="author">
                                <a class="url fn" rel="author" data-hovercard-type="user"
                                   data-hovercard-url="/users/ShiFengCui/hovercard"
                                   data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self"
                                   href="/ShiFengCui">ShiFengCui</a>
                                <div class="mt-2 mt-md-1 pb-3 gh-header-meta">
                            NiceCui edited this page <relative-time datetime="2020-05-18T04:47:56Z" class="no-wrap"
                                                                    title="2020年5月18日 GMT+8 下午12:47">1 hour ago</relative-time>
                            ·
                            <a href="/ShiFengCui/dataStructure/wiki/Home/_history" class="muted-link">
                                2 revisions
                            </a>
                        </div>
                            </span>
                        </h1>


                    </div>
                    <!--顶部按钮-->
                    <ul class="pagehead-actions flex-shrink-0 ">
                        <li>

                            <!-- '"` --><!-- </textarea></xmp> -->
                            <form data-remote="true" class="clearfix js-social-form js-social-container"
                                  action="/notifications/subscribe" accept-charset="UTF-8" method="post"><input
                                    type="hidden" name="authenticity_token"
                                    value="2J2LahFg46S9BecOaVTG4Tx+yJLUF5ez/sL7qWSsO7F9qmpUGyfhi5oBRnINsH8lbLTi/le9NYxP0zyqfe4zYg==">
                                <input type="hidden" name="repository_id" value="147751630">

                                <details class="details-reset details-overlay select-menu float-left">
                                    <summary class="select-menu-button float-left btn btn-sm btn-with-count"
                                             data-hydro-click="{&quot;event_type&quot;:&quot;repository.click&quot;,&quot;payload&quot;:{&quot;target&quot;:&quot;WATCH_BUTTON&quot;,&quot;repository_id&quot;:147751630,&quot;originating_url&quot;:&quot;https://github.com/ShiFengCui/dataStructure/wiki&quot;,&quot;user_id&quot;:36906841}}"
                                             data-hydro-click-hmac="3122d46227e11df2a234345a85f573adc63a30e41f6d27322179e65a7631d351"
                                             data-ga-click="Repository, click Watch settings, action:wiki#index"
                                             aria-haspopup="menu" role="button">          <span data-menu-button="">
              <svg class="octicon octicon-eye v-align-text-bottom" viewBox="0 0 16 16" version="1.1" width="16"
                   height="16" aria-hidden="true"><path fill-rule="evenodd"
                                                        d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
              Watch
          </span>
                                    </summary>
                                    <details-menu class="select-menu-modal position-absolute mt-5" style="z-index: 99;"
                                                  role="menu">
                                        <div class="select-menu-header">
                                            <span class="select-menu-title">Notifications</span>
                                        </div>
                                        <div class="select-menu-list">
                                            <button type="submit" name="do" value="included"
                                                    class="select-menu-item width-full" aria-checked="true"
                                                    role="menuitemradio">
                                                <svg class="octicon octicon-check select-menu-item-icon"
                                                     viewBox="0 0 12 16" version="1.1" width="12" height="16"
                                                     aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
                                                </svg>
                                                <div class="select-menu-item-text">
                                                    <span class="select-menu-item-heading">Not watching</span>
                                                    <span class="description">Be notified only when participating or @mentioned.</span>
                                                    <span class="hidden-select-button-text"
                                                          data-menu-button-contents="">
                  <svg class="octicon octicon-eye v-align-text-bottom" viewBox="0 0 16 16" version="1.1" width="16"
                       height="16" aria-hidden="true"><path fill-rule="evenodd"
                                                            d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
                  Watch
                </span>
                                                </div>
                                            </button>

                                            <button type="submit" name="do" value="release_only"
                                                    class="select-menu-item width-full" aria-checked="false"
                                                    role="menuitemradio">
                                                <svg class="octicon octicon-check select-menu-item-icon"
                                                     viewBox="0 0 12 16" version="1.1" width="12" height="16"
                                                     aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
                                                </svg>
                                                <div class="select-menu-item-text">
                                                    <span class="select-menu-item-heading">Releases only</span>
                                                    <span class="description">Be notified of new releases, and when participating or @mentioned.</span>
                                                    <span class="hidden-select-button-text"
                                                          data-menu-button-contents="">
                  <svg class="octicon octicon-eye v-align-text-bottom" viewBox="0 0 16 16" version="1.1" width="16"
                       height="16" aria-hidden="true"><path fill-rule="evenodd"
                                                            d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
                  Unwatch releases
                </span>
                                                </div>
                                            </button>

                                            <button type="submit" name="do" value="subscribed"
                                                    class="select-menu-item width-full" aria-checked="false"
                                                    role="menuitemradio">
                                                <svg class="octicon octicon-check select-menu-item-icon"
                                                     viewBox="0 0 12 16" version="1.1" width="12" height="16"
                                                     aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
                                                </svg>
                                                <div class="select-menu-item-text">
                                                    <span class="select-menu-item-heading">Watching</span>
                                                    <span class="description">Be notified of all conversations.</span>
                                                    <span class="hidden-select-button-text"
                                                          data-menu-button-contents="">
                  <svg class="octicon octicon-eye v-align-text-bottom" viewBox="0 0 16 16" version="1.1" width="16"
                       height="16" aria-hidden="true"><path fill-rule="evenodd"
                                                            d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
                  Unwatch
                </span>
                                                </div>
                                            </button>

                                            <button type="submit" name="do" value="ignore"
                                                    class="select-menu-item width-full" aria-checked="false"
                                                    role="menuitemradio">
                                                <svg class="octicon octicon-check select-menu-item-icon"
                                                     viewBox="0 0 12 16" version="1.1" width="12" height="16"
                                                     aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
                                                </svg>
                                                <div class="select-menu-item-text">
                                                    <span class="select-menu-item-heading">Ignoring</span>
                                                    <span class="description">Never be notified.</span>
                                                    <span class="hidden-select-button-text"
                                                          data-menu-button-contents="">
                  <svg class="octicon octicon-mute v-align-text-bottom" viewBox="0 0 16 16" version="1.1" width="16"
                       height="16" aria-hidden="true"><path fill-rule="evenodd"
                                                            d="M8 2.81v10.38c0 .67-.81 1-1.28.53L3 10H1c-.55 0-1-.45-1-1V7c0-.55.45-1 1-1h2l3.72-3.72C7.19 1.81 8 2.14 8 2.81zm7.53 3.22l-1.06-1.06-1.97 1.97-1.97-1.97-1.06 1.06L11.44 8 9.47 9.97l1.06 1.06 1.97-1.97 1.97 1.97 1.06-1.06L13.56 8l1.97-1.97z"></path></svg>
                  Stop ignoring
                </span>
                                                </div>
                                            </button>
                                        </div>
                                    </details-menu>
                                </details>
                                <a class="social-count js-social-count" href="/ShiFengCui/dataStructure/watchers"
                                   aria-label="0 users are watching this repository">
                                    0
                                </a>
                            </form>
                        </li>
                        <li>
                            <div class="float-left">
                                <details class="details-reset details-overlay details-overlay-dark">
                                    <summary class="btn btn-sm btn-with-count"
                                             title="Fork your own copy of ShiFengCui/dataStructure to your account"
                                             data-hydro-click="{&quot;event_type&quot;:&quot;repository.click&quot;,&quot;payload&quot;:{&quot;target&quot;:&quot;FORK_BUTTON&quot;,&quot;repository_id&quot;:147751630,&quot;originating_url&quot;:&quot;https://github.com/ShiFengCui/dataStructure/wiki&quot;,&quot;user_id&quot;:36906841}}"
                                             data-hydro-click-hmac="20577965f7e1a8525539c2be3340ba5453ba1e2be6c1c4ecc31d033a2b0bb745"
                                             data-ga-click="Repository, show fork modal, action:wiki#index; text:Fork"
                                             role="button">
                                        <svg class="octicon octicon-repo-forked v-align-text-bottom" viewBox="0 0 10 16"
                                             version="1.1" width="10" height="16" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                  d="M8 1a1.993 1.993 0 00-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 002 1a1.993 1.993 0 00-1 3.72V6.5l3 3v1.78A1.993 1.993 0 005 15a1.993 1.993 0 001-3.72V9.5l3-3V4.72A1.993 1.993 0 008 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path>
                                        </svg>
                                        Fork
                                    </summary>

                                    <details-dialog class="Box d-flex flex-column anim-fade-in fast Box--overlay"
                                                    src="/ShiFengCui/dataStructure/fork?fragment=1" preload=""
                                                    role="dialog" aria-modal="true">
                                        <div class="Box-header">
                                            <button class="Box-btn-octicon btn-octicon float-right" type="button"
                                                    aria-label="Close dialog" data-close-dialog="">
                                                <svg height="16" class="octicon octicon-x" viewBox="0 0 12 16"
                                                     version="1.1" width="12" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path>
                                                </svg>
                                            </button>
                                            <h3 class="Box-title">Fork dataStructure</h3>
                                        </div>
                                        <div class="Box-body overflow-auto">

                                            <div class="text-center ml-n3 mr-n3">
                                                <include-fragment>
                                                    <div class="octocat-spinner my-3" aria-label="Loading..."></div>
                                                    <p class="f5 text-gray">If this dialog fails to load, you can visit
                                                        <a href="/ShiFengCui/dataStructure/fork">the fork page</a>
                                                        directly.</p>
                                                </include-fragment>
                                            </div>

                                        </div>
                                    </details-dialog>
                                </details>
                            </div>

                            <a href="/ShiFengCui/dataStructure/network/members" class="social-count"
                               aria-label="0 users forked this repository">
                                0
                            </a>
                        </li>
                    </ul>

                </div>
                <nav class="js-repo-nav js-sidenav-container-pjax clearfix hx_reponav reponav p-responsive d-none d-lg-block container-lg"
                     itemscope="" itemtype="http://schema.org/BreadcrumbList" aria-label="Repository"
                     data-pjax="#js-repo-pjax-container">
                    <ul class="list-style-none">
                        <li>
                            <a class="js-selected-navigation-item selected reponav-item" data-hotkey="g w"
                               aria-current="page" data-selected-links="repo_wiki /ShiFengCui/dataStructure/wiki"
                               href="/ShiFengCui/dataStructure/wiki">
                                <div class="d-inline">
                                    <svg class="octicon octicon-book" viewBox="0 0 16 16" version="1.1" width="16"
                                         height="16" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z"></path>
                                    </svg>
                                </div>
                                Wiki
                            </a></li>
                        <li itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
                            <a class="js-selected-navigation-item reponav-item" itemprop="url" data-hotkey="g c"
                               data-selected-links="repo_source repo_downloads repo_commits repo_releases repo_tags repo_branches repo_packages repo_deployments /ShiFengCui/dataStructure"
                               href="/ShiFengCui/dataStructure">
                                <div class="d-inline">
                                    <svg class="octicon octicon-code" viewBox="0 0 14 16" version="1.1" width="14"
                                         height="16" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M9.5 3L8 4.5 11.5 8 8 11.5 9.5 13 14 8 9.5 3zm-5 0L0 8l4.5 5L6 11.5 2.5 8 6 4.5 4.5 3z"></path>
                                    </svg>
                                </div>
                                <span itemprop="name">Code</span>
                                <meta itemprop="position" content="1">
                            </a></li>

                        <li itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
                            <a itemprop="url" data-hotkey="g i" class="js-selected-navigation-item reponav-item"
                               data-selected-links="repo_issues repo_labels repo_milestones /ShiFengCui/dataStructure/issues"
                               href="/ShiFengCui/dataStructure/issues">
                                <div class="d-inline">
                                    <svg class="octicon octicon-issue-opened" viewBox="0 0 14 16" version="1.1"
                                         width="14" height="16" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 011.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path>
                                    </svg>
                                </div>
                                <span itemprop="name">Issues</span>
                                <span class="Counter">0</span>
                                <meta itemprop="position" content="2">
                            </a></li>

                        <li itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
                            <a data-hotkey="g p" data-skip-pjax="true" itemprop="url"
                               class="js-selected-navigation-item reponav-item"
                               data-selected-links="repo_pulls checks /ShiFengCui/dataStructure/pulls"
                               href="/ShiFengCui/dataStructure/pulls">
                                <div class="d-inline">
                                    <svg class="octicon octicon-git-pull-request" viewBox="0 0 12 16" version="1.1"
                                         width="12" height="16" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M11 11.28V5c-.03-.78-.34-1.47-.94-2.06C9.46 2.35 8.78 2.03 8 2H7V0L4 3l3 3V4h1c.27.02.48.11.69.31.21.2.3.42.31.69v6.28A1.993 1.993 0 0010 15a1.993 1.993 0 001-3.72zm-1 2.92c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zM4 3c0-1.11-.89-2-2-2a1.993 1.993 0 00-1 3.72v6.56A1.993 1.993 0 002 15a1.993 1.993 0 001-3.72V4.72c.59-.34 1-.98 1-1.72zm-.8 10c0 .66-.55 1.2-1.2 1.2-.65 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path>
                                    </svg>
                                </div>
                                <span itemprop="name">Pull requests</span>
                                <span class="Counter">0</span>
                                <meta itemprop="position" content="4">
                            </a></li>


                        <li itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement"
                            class="position-relative float-left ">
                            <a data-hotkey="g w" data-skip-pjax="true" class="js-selected-navigation-item reponav-item"
                               data-selected-links="repo_actions /ShiFengCui/dataStructure/actions"
                               href="/ShiFengCui/dataStructure/actions">
                                <div class="d-inline">
                                    <svg class="octicon octicon-play" viewBox="0 0 14 16" version="1.1" width="14"
                                         height="16" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M14 8A7 7 0 110 8a7 7 0 0114 0zm-8.223 3.482l4.599-3.066a.5.5 0 000-.832L5.777 4.518A.5.5 0 005 4.934v6.132a.5.5 0 00.777.416z"></path>
                                    </svg>
                                </div>
                                Actions
                            </a>
                        </li>

                        <li>
                            <a data-hotkey="g b" class="js-selected-navigation-item reponav-item"
                               data-selected-links="repo_projects new_repo_project repo_project /ShiFengCui/dataStructure/projects"
                               href="/ShiFengCui/dataStructure/projects">
                                <div class="d-inline">
                                    <svg class="octicon octicon-project" viewBox="0 0 15 16" version="1.1" width="15"
                                         height="16" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M10 12h3V2h-3v10zm-4-2h3V2H6v8zm-4 4h3V2H2v12zm-1 1h13V1H1v14zM14 0H1a1 1 0 00-1 1v14a1 1 0 001 1h13a1 1 0 001-1V1a1 1 0 00-1-1z"></path>
                                    </svg>
                                </div>
                                Projects
                                <span class="Counter">0</span>
                            </a></li>

                    </ul>
                </nav>
            </div>

            <div class="container-lg clearfix new-discussion-timeline  p-responsive">
                <div class="repository-content ">
                    <div id="wiki-wrapper" class="page">
                        <div class="d-flex flex-column flex-md-row gh-header">
                            <h1 class="flex-auto min-width-0 mb-2 mb-md-0 mr-0 mr-md-2 gh-header-title">Home</h1>

                            <div class="mt-0 mt-lg-1 flex-shrink-0 gh-header-actions">
                                <a href="#wiki-pages-box" class="d-md-none pl-2 float-right">Jump to bottom</a>

                                <a class="btn btn-sm ml-0" href="/ShiFengCui/dataStructure/wiki/Home/_edit">Edit</a>
                                <a class="btn btn-sm btn-primary" href="/ShiFengCui/dataStructure/wiki/_new">New
                                    Page</a>
                            </div>
                        </div>

                        <div class="mt-2 mt-md-1 pb-3 gh-header-meta">
                            NiceCui edited this page
                            <relative-time datetime="2020-05-18T04:47:56Z" class="no-wrap"
                                           title="2020年5月18日 GMT+8 下午12:47">1 hour ago
                            </relative-time>
                            ·
                            <a href="/ShiFengCui/dataStructure/wiki/Home/_history" class="muted-link">
                                2 revisions
                            </a>
                        </div>

                        <div id="wiki-content" class="mt-4">
                            <div class="gutter-condensed gutter-lg d-flex flex-column flex-md-row">

                                <div class="flex-shrink-0 col-12 col-md-9 mb-3 mb-md-0">
                                    <div id="wiki-body" class="gollum-markdown-content">
                                        <!--内容体-->
                                        <div class="markdown-body">
                                            <h1>
                                                <a id="user-content-机器学习的数学基础材料" class="anchor"
                                                   href="#%E6%9C%BA%E5%99%A8%E5%AD%A6%E4%B9%A0%E7%9A%84%E6%95%B0%E5%AD%A6%E5%9F%BA%E7%A1%80%E6%9D%90%E6%96%99"
                                                   aria-hidden="true">
                                                    <svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1"
                                                         width="16" height="16" aria-hidden="true">
                                                        <path fill-rule="evenodd"
                                                              d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                                                    </svg>
                                                </a>机器学习的数学基础材料
                                            </h1>
                                            <h2>
                                                <a id="user-content-一机器学习的数学基础" class="anchor"
                                                   href="#%E4%B8%80%E6%9C%BA%E5%99%A8%E5%AD%A6%E4%B9%A0%E7%9A%84%E6%95%B0%E5%AD%A6%E5%9F%BA%E7%A1%80"
                                                   aria-hidden="true">
                                                    <svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1"
                                                         width="16" height="16" aria-hidden="true">
                                                        <path fill-rule="evenodd"
                                                              d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                                                    </svg>
                                                </a>一、机器学习的数学基础
                                            </h2>
                                            <p><a href="wiki/0.basic">0.basic</a>，这个是从大学教材里搜集的机器学习数学基础资料，分为高等数学，线性代数、概率论与数理统计三部分。主要内容是以前考研考博时候的数学笔记，难度应该在本科3年级左右。
                                            </p>
                                            <p><strong>数据科学需要一定的数学基础，但仅仅做应用的话，如果时间不多，不用学太深，了解基本公式即可，遇到问题再查吧。</strong>
                                            </p>
                                            <h2>
                                                <a id="user-content-二斯坦福大学cs229机器学习课程复习材料" class="anchor"
                                                   href="#%E4%BA%8C%E6%96%AF%E5%9D%A6%E7%A6%8F%E5%A4%A7%E5%AD%A6cs229%E6%9C%BA%E5%99%A8%E5%AD%A6%E4%B9%A0%E8%AF%BE%E7%A8%8B%E5%A4%8D%E4%B9%A0%E6%9D%90%E6%96%99"
                                                   aria-hidden="true">
                                                    <svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1"
                                                         width="16" height="16" aria-hidden="true">
                                                        <path fill-rule="evenodd"
                                                              d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                                                    </svg>
                                                </a>二、斯坦福大学CS229机器学习课程复习材料
                                            </h2>
                                            <p><a href="wiki/1.CS229">1.CS229</a>文件夹的材料斯坦福大学CS 229机器学习课程的基础材料的翻译版本，<a
                                                    href="http://cs229.stanford.edu/summer2019/cs229-linalg.pdf"
                                                    rel="nofollow">原始文件下载</a></p>
                                            <p>翻译：<a href="https://github.com/fengdu78">黄海广</a>
                                                备注：请关注<a
                                                        href="https://github.com/fengdu78/Data-Science-Notes/tree/master/0.math">github</a>的更新，近期将更新完。
                                            </p>
                                            <p>文件介绍：</p>
                                            <p><a href="wiki/1.CS229-LinearAlgebra.pdf">1.CS229线性代数（翻译完毕）</a></p>
                                            <p>github内容是方便用户学习研究使用，请勿用于商业目的。</p>
                                            <p>如果需要引用这个Repo:</p>
                                            <p>格式： <code>fengdu78, Data-Science-Notes, (2019), GitHub repository,
                                                https://github.com/fengdu78/Data-Science-Notes</code></p>

                                        </div>
                                        <!--内容底部说明-->
                                        <div id="wiki-footer" class="mt-5 muted-link wiki-footer">
                                            <a class="d-block p-3 muted-link text-center border border-dashed rounded-1"
                                               href="/ShiFengCui/dataStructure/wiki/_new?wiki%5Bname%5D=_Footer">
                                                <svg class="octicon octicon-plus mr-1" viewBox="0 0 12 16" version="1.1"
                                                     width="12" height="16" aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M12 9H7v5H5V9H0V7h5V2h2v5h5v2z"></path>
                                                </svg>
                                                Add a custom footer
                                            </a></div>
                                    </div>

                                </div>

                                <div class="flex-shrink-0 col-12 col-md-3">
                                    <div class="wiki-rightbar">
                                        <div id="wiki-pages-box" class="mb-4 wiki-pages-box js-wiki-pages-box"
                                             role="navigation">

                                            <div class="Box Box--condensed box-shadow">
                                                <div class="Box-header js-wiki-toggle-collapse" style="cursor: pointer">
                                                    <h3 class="Box-title">
                                                        <svg class="octicon octicon-triangle-down js-wiki-sidebar-toggle-display "
                                                             viewBox="0 0 12 16" version="1.1" width="12" height="16"
                                                             aria-hidden="true">
                                                            <path fill-rule="evenodd" d="M0 5l6 6 6-6H0z"></path>
                                                        </svg>
                                                        <svg class="octicon octicon-triangle-right js-wiki-sidebar-toggle-display d-none"
                                                             viewBox="0 0 6 16" version="1.1" width="6" height="16"
                                                             aria-hidden="true">
                                                            <path fill-rule="evenodd" d="M0 14l6-6-6-6v12z"></path>
                                                        </svg>
                                                        Pages
                                                    </h3>
                                                </div>
                                                <div class="js-wiki-sidebar-toggle-display">
                                                    <div class="filter-bar">
                                                        <input type="text" id="wiki-pages-filter" v-model="searchTitle"
                                                               class="form-control input-sm input-block js-filterable-field"
                                                               placeholder="Find a Page…" aria-label="Find a Page…"
                                                               autocomplete="off">
                                                    </div>
                                                    <div v-if="exitPage"
                                                         class="Box-body wiki-custom-sidebar markdown-body wiki-writable">
                                                        <ul>
                                                            <li><a href="">{{searchResult.text}}</a></li>
                                                        </ul>
                                                    </div>
                                                    <div v-else
                                                         class="Box-body wiki-custom-sidebar markdown-body wiki-writable">
                                                        <a href="/ShiFengCui/dataStructure/wiki/_Sidebar/_edit"
                                                           class="position-relative float-right ml-3 muted-link"
                                                           title="Edit sidebar" style="z-index: 10">
                                                            <svg class="octicon octicon-pencil" viewBox="0 0 14 16"
                                                                 version="1.1" width="14" height="16"
                                                                 aria-hidden="true">
                                                                <path fill-rule="evenodd"
                                                                      d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 011.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z"></path>
                                                            </svg>
                                                        </a>
                                                        <h2>
                                                            <a id="user-content-getting-started" class="anchor"
                                                               href="#getting-started" aria-hidden="true">
                                                                <svg class="octicon octicon-link" viewBox="0 0 16 16"
                                                                     version="1.1" width="16" height="16"
                                                                     aria-hidden="true">
                                                                    <path fill-rule="evenodd"
                                                                          d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                                                                </svg>
                                                            </a>Getting Started
                                                        </h2>
                                                        <ul>
                                                            <li>
                                                                <a href="https://github.com/onevcat/Kingfisher/wiki/Getting-Started-with-Kingfisher">Getting
                                                                    Started with Kingfisher</a>
                                                                <ul>
                                                                    <li>
                                                                        <a href="https://github.com/onevcat/Kingfisher/wiki/Installation-Guide">Install
                                                                            Kingfisher</a></li>
                                                                    <li>
                                                                        <a href="https://github.com/onevcat/Kingfisher/wiki/Cheat-Sheet">Cheat
                                                                            Sheet</a></li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="http://onevcat.github.io/Kingfisher/"
                                                                   rel="nofollow">API Reference</a></li>
                                                        </ul>
                                                        <h2>
                                                            <a id="user-content-migration-guide" class="anchor"
                                                               href="#migration-guide" aria-hidden="true">
                                                                <svg class="octicon octicon-link" viewBox="0 0 16 16"
                                                                     version="1.1" width="16" height="16"
                                                                     aria-hidden="true">
                                                                    <path fill-rule="evenodd"
                                                                          d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                                                                </svg>
                                                            </a>Migration Guide
                                                        </h2>
                                                        <ul>
                                                            <li>
                                                                <a href="https://github.com/onevcat/Kingfisher/wiki/Kingfisher-3.0-Migration-Guide">3.0
                                                                    Migration Guide</a></li>
                                                            <li>
                                                                <a href="https://github.com/onevcat/Kingfisher/wiki/Kingfisher-2.0-Migration-Guide">2.0
                                                                    Migration Guide</a></li>
                                                        </ul>
                                                        <h2>
                                                            <a id="user-content-communication" class="anchor"
                                                               href="#communication" aria-hidden="true">
                                                                <svg class="octicon octicon-link" viewBox="0 0 16 16"
                                                                     version="1.1" width="16" height="16"
                                                                     aria-hidden="true">
                                                                    <path fill-rule="evenodd"
                                                                          d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                                                                </svg>
                                                            </a>Communication
                                                        </h2>
                                                        <ul>
                                                            <li>
                                                                <a href="https://github.com/onevcat/Kingfisher/wiki/FAQ">FAQ</a>
                                                            </li>
                                                            <li><a href="http://stackoverflow.com/search?q=kingfisher"
                                                                   rel="nofollow">Ask a question</a></li>
                                                            <li>
                                                                <a href="https://github.com/onevcat/Kingfisher/issues/new">Submit
                                                                    an issue</a></li>
                                                            <li><a href="https://github.com/onevcat/Kingfisher/compare">Open
                                                                a pull request</a></li>
                                                        </ul>
                                                        <h2>
                                                            <a id="user-content-information" class="anchor"
                                                               href="#information" aria-hidden="true">
                                                                <svg class="octicon octicon-link" viewBox="0 0 16 16"
                                                                     version="1.1" width="16" height="16"
                                                                     aria-hidden="true">
                                                                    <path fill-rule="evenodd"
                                                                          d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                                                                </svg>
                                                            </a>Information
                                                        </h2>
                                                        <ul>
                                                            <li>
                                                                <a href="https://github.com/onevcat/Kingfisher/blob/master/CHANGELOG.md">Change
                                                                    Log</a></li>
                                                        </ul>
                                                        <p>作者：EyreFree
                                                            链接：<a href="https://juejin.im/post/5a3216c8f265da43333e6b54"
                                                                  rel="nofollow">https://juejin.im/post/5a3216c8f265da43333e6b54</a>
                                                            来源：掘金
                                                            著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。</p>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <h5 class="mt-0 mb-2">Clone this wiki locally</h5>
                                        <div class="width-full input-group">
                                            <input id="wiki-clone-url" type="text" data-autoselect=""
                                                   class="form-control input-sm text-small text-gray input-monospace"
                                                   aria-label="Clone URL for this wiki"
                                                   value="https://github.com/ShiFengCui/dataStructure.wiki.git"
                                                   readonly="">
                                            <span class="input-group-button">
              <clipboard-copy for="wiki-clone-url" aria-label="Copy to clipboard"
                              class="btn btn-sm zeroclipboard-button" tabindex="0" role="button">
                <svg class="octicon octicon-clippy" viewBox="0 0 14 16" version="1.1" width="14" height="16"
                     aria-hidden="true"><path fill-rule="evenodd"
                                              d="M2 13h4v1H2v-1zm5-6H2v1h5V7zm2 3V8l-3 3 3 3v-2h5v-2H9zM4.5 9H2v1h2.5V9zM2 12h2.5v-1H2v1zm9 1h1v2c-.02.28-.11.52-.3.7-.19.18-.42.28-.7.3H1c-.55 0-1-.45-1-1V4c0-.55.45-1 1-1h3c0-1.11.89-2 2-2 1.11 0 2 .89 2 2h3c.55 0 1 .45 1 1v5h-1V6H1v9h10v-2zM2 5h8c0-.55-.45-1-1-1H8c-.55 0-1-.45-1-1s-.45-1-1-1-1 .45-1 1-.45 1-1 1H3c-.55 0-1 .45-1 1z"></path></svg>
              </clipboard-copy>
            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>


            </div>

        </main>
    </div>


</div>

<!--底部-->
<div class="footer container-lg width-full p-responsive" role="contentinfo">
    <div class="position-relative d-flex flex-row-reverse flex-lg-row flex-wrap flex-lg-nowrap flex-justify-center flex-lg-justify-between pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light ">
        <ul class="list-style-none d-flex flex-wrap col-12 col-lg-5 flex-justify-center flex-lg-justify-between mb-2 mb-lg-0">
            <li class="mr-3 mr-lg-0">© 2020 GitHub, Inc.</li>
            <li class="mr-3 mr-lg-0"><a data-ga-click="Footer, go to terms, text:terms"
                                        href="https://github.com/site/terms">Terms</a></li>
            <li class="mr-3 mr-lg-0"><a data-ga-click="Footer, go to privacy, text:privacy"
                                        href="https://github.com/site/privacy">Privacy</a></li>
            <li class="mr-3 mr-lg-0"><a data-ga-click="Footer, go to security, text:security"
                                        href="https://github.com/security">Security</a></li>
            <li class="mr-3 mr-lg-0"><a href="https://githubstatus.com/"
                                        data-ga-click="Footer, go to status, text:status">Status</a></li>
            <li><a data-ga-click="Footer, go to help, text:help" href="https://help.github.com">Help</a></li>

        </ul>

        <a aria-label="Homepage" title="GitHub" class="footer-octicon d-none d-lg-block mx-lg-4"
           href="https://github.com">
            <svg height="24" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" width="24"
                 aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
            </svg>
        </a>
        <ul class="list-style-none d-flex flex-wrap col-12 col-lg-5 flex-justify-center flex-lg-justify-between mb-2 mb-lg-0">
            <li class="mr-3 mr-lg-0"><a data-ga-click="Footer, go to contact, text:contact"
                                        href="https://github.com/contact">Contact GitHub</a></li>
            <li class="mr-3 mr-lg-0"><a href="https://github.com/pricing"
                                        data-ga-click="Footer, go to Pricing, text:Pricing">Pricing</a></li>
            <li class="mr-3 mr-lg-0"><a href="https://developer.github.com" data-ga-click="Footer, go to api, text:api">API</a>
            </li>
            <li class="mr-3 mr-lg-0"><a href="https://training.github.com"
                                        data-ga-click="Footer, go to training, text:training">Training</a></li>
            <li class="mr-3 mr-lg-0"><a href="https://github.blog"
                                        data-ga-click="Footer, go to blog, text:blog">Blog</a></li>
            <li><a data-ga-click="Footer, go to about, text:about" href="https://github.com/about">About</a></li>
        </ul>
    </div>
    <div class="d-flex flex-justify-center pb-6">
        <span class="f6 text-gray-light"></span>
    </div>
</div>

<div class="js-stale-session-flash flash flash-warn flash-banner" hidden="">
    <svg class="octicon octicon-alert" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
        <path fill-rule="evenodd"
              d="M8.893 1.5c-.183-.31-.52-.5-.887-.5s-.703.19-.886.5L.138 13.499a.98.98 0 000 1.001c.193.31.53.501.886.501h13.964c.367 0 .704-.19.877-.5a1.03 1.03 0 00.01-1.002L8.893 1.5zm.133 11.497H6.987v-2.003h2.039v2.003zm0-3.004H6.987V5.987h2.039v4.006z"></path>
    </svg>
    <span class="js-stale-session-flash-signed-in" hidden="">You signed in with another tab or window. <a
            href="">Reload</a> to refresh your session.</span>
    <span class="js-stale-session-flash-signed-out" hidden="">You signed out in another tab or window. <a
            href="">Reload</a> to refresh your session.</span>
</div>
<template id="site-details-dialog">
    <details class="details-reset details-overlay details-overlay-dark lh-default text-gray-dark hx_rsm" open="">
        <summary role="button" aria-label="Close dialog"></summary>
        <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast hx_rsm-dialog hx_rsm-modal">
            <button class="Box-btn-octicon m-0 btn-octicon position-absolute right-0 top-0" type="button"
                    aria-label="Close dialog" data-close-dialog="">
                <svg class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="12" height="16"
                     aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path>
                </svg>
            </button>
            <div class="octocat-spinner my-6 js-details-dialog-spinner"></div>
        </details-dialog>
    </details>
</template>

<div class="Popover js-hovercard-content position-absolute" style="display: none; outline: none;" tabindex="0">
    <div class="Popover-message Popover-message--bottom-left Popover-message--large Box box-shadow-large"
         style="width:360px;">
    </div>
</div>

<div class="mpa-sc mpa-plugin-article-gatherer mpa-new mpa-rootsc" data-z="100" style="display: block;"
     id="mpa-rootsc-article-gatherer"></div>
<div class="mpa-sc mpa-plugin-image-gatherer mpa-new mpa-rootsc" data-z="100" style="display: block;"
     id="mpa-rootsc-image-gatherer"></div>
<div class="mpa-sc mpa-plugin-page-clipper mpa-new mpa-rootsc" data-z="100" style="display: block;"
     id="mpa-rootsc-page-clipper"></div>
<div class="mpa-sc mpa-plugin-text-gatherer mpa-new mpa-rootsc" data-z="100" style="display: block;"
     id="mpa-rootsc-text-gatherer"></div>
<div class="mpa-sc mpa-plugin-video-gatherer mpa-new mpa-rootsc" data-z="100" style="display: block;"
     id="mpa-rootsc-video-gatherer"></div>
<div class="mpa-sc mpa-plugin-side-function-panel mpa-new mpa-rootsc" data-z="110" style="display: block;"
     id="mpa-rootsc-side-function-panel"></div>
<div class="mpa-sc mpa-plugin-notifier mpa-new mpa-rootsc" data-z="120" style="display: block;"
     id="mpa-rootsc-notifier"></div>
<div class="mpa-sc mpa-plugin-notification-manager mpa-new mpa-rootsc" data-z="130" style="display: block;"
     id="mpa-rootsc-notification-manager"></div>
<div aria-live="polite" class="sr-only">1 results found.</div>

<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/lunr.js/2.3.8/lunr.min.js"></script>
<script src="lunr.chinese.js"></script>
<script>
    var doc = [{
        "id": 0,
        "name": "Lunr hello",
        "text": "计算机 Like Solr, but much smaller, and not as bright 你好."
    }, {
        "id": 1,
        "name": "React",
        "text": "A JavaScript library for building user interfaces."
    }, {
        "id": 2,
        "name": "Lodash",
        "text": "芯片 A modern JavaScript utility library delivering modularity, performance & extras."
    }]
    var idx = lunr(function () {
        this.field('text');
        this.field('name');
        this.ref("id")
        doc.forEach(function (doc) {
            this.add(doc)
        }, this)
    });

    var app = new Vue({
        el: '#app',
        data: {
            searchTitle: '',
            searchResult: '',
            exitPage: false
        },
        watch: {
            // 如果 `question` 发生改变，这个函数就会运行
            searchTitle: function (newQuestion, oldQuestion) {
                this.searchResult = newQuestion;
                this.debouncedGetAnswer()
            }
        },
        created: function () {
            // `_.debounce` 是一个通过 Lodash 限制操作频率的函数。
            // 在这个例子中，我们希望限制访问 yesno.wtf/api 的频率
            // AJAX 请求直到用户输入完毕才会发出。想要了解更多关于
            // `_.debounce` 函数 (及其近亲 `_.throttle`) 的知识，
            // 请参考：https://lodash.com/docs#debounce
            this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)


        },
        methods: {
            getAnswer: function () {
                var result = idx.search(this.searchTitle);
                if (result != null && result.length > 0) {
                    this.searchResult = doc[result[0].ref];
                    this.exitPage = true;
                } else {
                    this.exitPage = false;
                }
            }
        }
    })
</script>

</body>
</html>
